@import 'https://fonts.googleapis.com/css?family=PT+Sans';

* {
	font-family: 'PT Sans', sans-serif;
}

body {
	margin: 0;
	padding: 0;
	width: 250px;
}

div {
	font-size: 15px;
	padding: 3px;
	text-align: left;
	font-family: Lucida Sans Unicode;
}

#left {
	width: 330px;
	float:left;
}

#right {
	margin-left: 330px;

}

#settings {
	background-color: #43453b;
	color: #F8F8F2;
	width: 570px;
	margin:3px;
	user-select: none;
	padding: 6px;
	border-radius: 5px;
	clear: both;
	overflow: auto;
}

#settings p {
	margin: 0;
}

#controls-wrapper {
	clear: both;
	overflow: auto;
}

textarea {
	font-family: monospace;
}

#axiom, #ignore, textarea {
	background-color: #272822;
	color: #F8F8F2;
}

#library {
	margin-top: 10px;
	margin-bottom: 10px;
}

#library p {
	margin: 0;
}

#library p:hover {
	cursor: pointer;
	color: #4dffff;
}

#library h4 {
	margin: 0;
}

#iterations {
	width: 45px;
	margin-bottom: 10px;
}

#line-color {
	margin-bottom: 10px;
}

#toggle-ui {
	clear: both;
}

#toggle-ui:hover {
	cursor: pointer;
}

.btn {
	font-size: 13px;
	display: inline-block;
	background-color: rgba(0,0,0, 0.4);
	width: 200px;
	color: white;
	padding: 5px;
	padding-right: 15px;
	padding-left: 15px;
	margin-bottom: 5px;
	border: none;
	border-radius: 5px;
}

.btn:hover {
	cursor: pointer;
	background-color: rgba(0,0,0,0.55);
}

#error-message {
	color: #ff9999;
	/* text-shadow: 0 0 14px #ffffff; */
}

#err-wrapper {
	background-color: rgba(0,0,0, 0.4);
}

h4 {
	font-size: 17px;
}

a {
	color: #1affff;
}